.git
.gitignore
Dockerfile
**/*/.terraform
*.tfstate
**/*/.tfvars
config.json
config.json.example
venv


#python
orchestrator/.idea
orchestrator/Include
orchestrator/Lib
orchestrator/Scripts