#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
**/*/*.tfvars

ssh
setup.sh

#python
orchestrator/.idea
orchestrator/Include
orchestrator/Lib
orchestrator/Scripts
orchestrator/src/swarm_inventory
**/*/*.pyc
**/*/*.cfg
**/*/config.json
config.json
venv

#jetBrains
.idea

#other
ansible/tokens.json
