#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
**/*/*.tfvars

ssh
setup.sh

#python
orchestrator/.idea
orchestrator/Include
orchestrator/Lib
orchestrator/Scripts
**/*/*.pyc
**/*/*.cfg
**/*/config.json
